/venv/
.idea
/scrapper/data/
scrapper/__pycache__/
0119063.json
translate_csv.py
01190634.json
Final Project.lnk
00118840.json
00118842.json
__pycache__
scrapper/monitor.csv
/scrapper/scrapper.log
/scrapper/data.tsv
/scrapper/data.tsv
/backend/data/
/data/
*.zip
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
backend/temp.csv
backend/temp_2.csv
*.tsv
future_updates/DATABASE_ZERO.csv
future_updates/fixed.csv
additional_data/update.csv
future_updates/update.csv
.spyproject
/db_api/data/
Website/data/data.csv
Website/data/base.csv
Website/data/data.csv
Website/data/new_data.csv
Website/data/data.csv
Website/data/data.csv
